.postsContainer {
     max-width: 700px;
     margin: 0 auto 2rem;

    h1 {
        font-size: 1.625rem;
        line-height: 2.250rem;
    }

    span {
        display: block;
        margin-bottom: 24px;
    }
}

.post {
    max-width: 700px;
    margin: 0 auto 1rem;
}

.postFooter {
    display: flex;
    gap: 24px;

    span {
        display: flex;
        gap: 8px;
    }
}

.footer {
    margin-top: 1.5rem;

    span {
        display: block;
        color: var(--highlight);
        cursor: pointer;

        transition: filter 0.2s;

        &:hover {
            filter: brightness(0.9);
        }
    }
}